
.idea/deployment.xml

.idea/misc.xml

.idea/modules.xml

.idea/Triangulator.iml

.idea/vcs.xml

cmake-build-debug/cmake_install.cmake

cmake-build-debug/CMakeCache.txt

cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake

cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake

cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin

cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin

cmake-build-debug/CMakeFiles/3.15.3/CMakeRCCompiler.cmake

cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake

cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.exe

cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c

cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.exe

cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp

cmake-build-debug/CMakeFiles/clion-environment.txt

cmake-build-debug/CMakeFiles/clion-log.txt

cmake-build-debug/CMakeFiles/cmake.check_cache

cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug/CMakeFiles/CMakeOutput.log

cmake-build-debug/CMakeFiles/Makefile.cmake

cmake-build-debug/CMakeFiles/Makefile2

cmake-build-debug/CMakeFiles/progress.marks

cmake-build-debug/CMakeFiles/TargetDirectories.txt

cmake-build-debug/CMakeFiles/Triangulator.dir/build.make

cmake-build-debug/CMakeFiles/Triangulator.dir/cmake_clean.cmake

cmake-build-debug/CMakeFiles/Triangulator.dir/CXX.includecache

cmake-build-debug/CMakeFiles/Triangulator.dir/depend.internal

cmake-build-debug/CMakeFiles/Triangulator.dir/depend.make

cmake-build-debug/CMakeFiles/Triangulator.dir/DependInfo.cmake

cmake-build-debug/CMakeFiles/Triangulator.dir/flags.make

cmake-build-debug/CMakeFiles/Triangulator.dir/includes_CXX.rsp

cmake-build-debug/CMakeFiles/Triangulator.dir/link.txt

cmake-build-debug/CMakeFiles/Triangulator.dir/linklibs.rsp

cmake-build-debug/CMakeFiles/Triangulator.dir/objects.a

cmake-build-debug/CMakeFiles/Triangulator.dir/objects1.rsp

cmake-build-debug/CMakeFiles/Triangulator.dir/progress.make

cmake-build-debug/CMakeFiles/Triangulator.dir/src/main.cpp.obj

cmake-build-debug/CMakeFiles/Vector.dir/build.make

cmake-build-debug/CMakeFiles/Vector.dir/cmake_clean_target.cmake

cmake-build-debug/CMakeFiles/Vector.dir/cmake_clean.cmake

cmake-build-debug/CMakeFiles/Vector.dir/depend.make

cmake-build-debug/CMakeFiles/Vector.dir/DependInfo.cmake

cmake-build-debug/CMakeFiles/Vector.dir/flags.make

cmake-build-debug/CMakeFiles/Vector.dir/includes_CXX.rsp

cmake-build-debug/CMakeFiles/Vector.dir/link.txt

cmake-build-debug/CMakeFiles/Vector.dir/progress.make

cmake-build-debug/CMakeFiles/VectorMath.dir/build.make

cmake-build-debug/CMakeFiles/VectorMath.dir/cmake_clean_target.cmake

cmake-build-debug/CMakeFiles/VectorMath.dir/cmake_clean.cmake

cmake-build-debug/CMakeFiles/VectorMath.dir/CXX.includecache

cmake-build-debug/CMakeFiles/VectorMath.dir/depend.internal

cmake-build-debug/CMakeFiles/VectorMath.dir/depend.make

cmake-build-debug/CMakeFiles/VectorMath.dir/DependInfo.cmake

cmake-build-debug/CMakeFiles/VectorMath.dir/flags.make

cmake-build-debug/CMakeFiles/VectorMath.dir/includes_CXX.rsp

cmake-build-debug/CMakeFiles/VectorMath.dir/link.txt

cmake-build-debug/CMakeFiles/VectorMath.dir/progress.make

cmake-build-debug/CMakeFiles/VectorMath.dir/src/Matrix.cpp.obj

cmake-build-debug/CMakeFiles/VectorMath.dir/src/Triangle.cpp.obj

cmake-build-debug/CMakeFiles/VectorMath.dir/src/Vec3.cpp.obj

cmake-build-debug/CMakeFiles/VectorMath.dir/src/VecList.cpp.obj

cmake-build-debug/libVectorMath.a

cmake-build-debug/Makefile

cmake-build-debug/Triangulator.cbp

cmake-build-debug/Triangulator.exe

Viewer/A quick get going for the 3D viewer.doc

Viewer/tri_plsg_viewer.exe
